<div *ngIf="showError" class="alert alert-dismissible alert-danger">    
    <strong>Uff an error occurred while saving the Employee</strong>
</div>
<div class="form-group row" *ngIf="showError">
    <div class="col-sm-12 text-center">                      
      <button type="submit" class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
</div>
<div class="container titleForms">
    <h1>Add Employee</h1>
</div>
<div class="container pt-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label" >First Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="First Name" name="name" [(ngModel)]="employee.name" required="true">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="last" class="col-sm-2 col-form-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" [(ngModel)]="employee.last_name" required="true">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="Status" class="col-sm-2 col-form-label">Document Type</label>
                    <div class="col-sm-10">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="employee.document_type" name="document_type" required="true">
                            <option *ngFor="let do of document_type" value="{{do}}">{{do}}</option>
                        </select>
                    </div>
                </div>  
                <div class="form-group row">
                    <label for="number_document" class="col-sm-2 col-form-label">Identificacion</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="number_document" name="number_document" placeholder="Identificacion" [(ngModel)]="employee.number_document" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Status" class="col-sm-2 col-form-label">Position</label>
                    <div class="col-sm-10">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="employee.position" name="position" required="true">
                            <option *ngFor="let position of position" value="{{position}}">{{position}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Status" class="col-sm-2 col-form-label">Specialy</label>
                    <div class="col-sm-10">
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="employee.specialy" name="specialy" required="true">
                            <option *ngFor="let specialy of specialy" value="{{specialy}}">{{specialy}}</option>
                        </select>
                    </div>
                </div>               
                <div class="form-group row">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary" (click)="addEmployee()">Add</button>                    
                  </div>
                </div>                
            </form>
        </div>
        
    </div>
</div>


